* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: sans-serif;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
    margin: 0 0.5rem;
}

li,
a,
p,
h1,
h2,
h3 {
    color: white;
}

@import "./partials/variables";